.sidebar {
  position: fixed;
  top: 55px;
  background-color: white;
  bottom: 0px;
  left: 0px;
  width: 72px;
  z-index: 20;
  padding-top: 5px;
}
.sidebar-link {
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar-link:hover {
  background-color: rgb(233, 229, 229);
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div {
  font-size: 10px;
}
